
*.user
Compilation_Output_Debug/debug/Control_Iluminacion_Dev_02.exe
Compilation_Output_Debug/Makefile
Compilation_Output_Debug/Makefile.Debug
Compilation_Output_Debug/Makefile.Release
Control_Iluminacion_Dev_02.pro
